PORT=9000
MONGODB_URI=your_mongodb_connection_uri
ACCESS_TOKEN_SECRET=your_jwt_access_secret_key
REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_key
ACCESS_TOKEN_EXPIRESIN=900
REFRESH_TOKEN_EXPIRESIN=604800
SALT_ROUNDS=10
CLIENT_URL=https://your-project-name.vercel.app
VITE_API_URL=/api
DEMO_USER_EMAIL=demo_user_email
DEMO_USER_PASSWORD=DemoPassword123!
